body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#muteButton {
  width: 100px;
  height: 100px;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
}